<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Mileage Tracker</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button menu="first" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="register-form">
  <ion-grid >
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">From</ion-label>
          <ion-input 
            type="text"
            name="from" 
            ngModel 
            required 
            #fromCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!fromCtrl.valid && fromCtrl.touched" lines="none">
            <ion-label class="error-danger">From field is required.</ion-label>
        </ion-item>
      </ion-col>  
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">To</ion-label>
          <ion-input 
            type="text"
            name="to" 
            ngModel 
            required 
            #toCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!toCtrl.valid && toCtrl.touched" lines="none">
            <ion-label class="error-danger">To field required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">Total Miles</ion-label>
          <ion-input class="numberTXT"
            type="number"
            name="totalMiles" 
            ngModel 
            required 
            #totalMilesCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!totalMilesCtrl.valid && totalMilesCtrl.touched" lines="none">
            <ion-label class="error-danger">Total Miles required.</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-item class="margin-top-5">
          <ion-input class="numberTXT"
            type="date" 
            name="date"
            ngModel 
            required
            #dateCtrl="ngModel">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!dateCtrl.valid && dateCtrl.touched" lines="none">
            <ion-label class="error-danger">Select a Date.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button 
          type="submit" 
          [disabled]="!f.valid" 
          expand="full" 
          color="secondary">
        Log Mileage
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>  
<h1 class="ion-text-center">Total Logged</h1>
<ion-grid class="ion-text-center" fixed>
  <ion-row>
    <ion-col size="6">Today</ion-col>
    <ion-col size="6">This Week</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <div style="min-height: 60px;">
        <ion-fab horizontal="center" vertical="center">
          <ion-fab-button color="secondary" routerLink="/mileage-tracker/miles-tracker-list" (click)="todayList()">
            <ion-icon name="today-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </ion-col>
    <ion-col size="6">
      <div style="min-height: 60px;">
        <ion-fab horizontal="center" vertical="center">
        <ion-fab-button color="secondary" routerLink="/mileage-tracker/miles-tracker-list" (click)="weekList()">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">This Month</ion-col>
    <ion-col size="6">This Year</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <div style="min-height: 60px;">
        <ion-fab horizontal="center" vertical="center">
        <ion-fab-button color="secondary" routerLink="/mileage-tracker/miles-tracker-list" (click)="monthList()">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    </ion-col>
    <ion-col size="6">
      <div style="min-height: 60px;">
        <ion-fab horizontal="center" vertical="center">
      <ion-fab-button color="secondary" routerLink="/mileage-tracker/miles-tracker-list" (click)="yearList()">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
